  body {
    background: url('data:image/jpeg;base64,/==') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: "aktiv-grotesk", sans-serif;
    color: white;
    text-align: center;
  }

  form {
    margin: auto;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  header {
    width: 50%;
    margin: auto;
  }

  footer {
    width: 100%;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  .window {
    display: -webkit-flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .terminal {
    width: 50%;
    margin: 10px 20px;
    height: 80vw;
    padding: 0px;
    border: solid red 4px;
    border-radius: 1%;
    overflow: scroll;
  }

  #input {
    margin: auto;
    height: 100%;
    width: 100%;
    border: 0px;
    resize: none;
    background-color: rgba(0, 0, 0, 0.69);
    color: #1DC525;
    font-size: large;
  }

  #output {
    margin: auto;
    height: 100%;
    width: 100%;
    background: rgba(220, 220, 220, 0.71);
    border: 0px;
    resize: none;
  }

  @media screen and (max-width: 800px) {

    .prompt {
      display: none;
    }

    .terminal {
      width: 100%;
    }

    .terminal::after {
      line-break: strict;
    }

  }
